* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding:0;
    
}

a {
    text-decoration: none;
  }

  .gallery {
    margin: 0% 10% 0 10%;
    text-align: center;
    width: 80%;
    margin: auto;
}

img {
    height: 18em;
    width: 18em;
    margin: 0.5em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0,0,0,0.20);
      
}

img:hover {
    opacity: 0.75;
}


/* 
main {
    margin-top: 80%;
} */

.login {
    margin: 0 auto;
}

.navi {
    display: flex;
    padding: 1% 0 1% 1%;
    margin: 1% 0 0 1%
}

ul {
  padding: 0;
  list-style: none;
}

li {
padding: 1%;  
}

.logo {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

