* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding:0;
    
}

nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    position: fixed;

    
}

body {
    background-color: #f2f2f2;    
}

main {
    margin: 0 auto;
    padding-top: 5%;
}

h1 {
    text-align: center;
    color: grey;
    margin-left: 5%;
}

/* nav, main {
    margin: 2%;
} */

.gallery {
    margin: 0% 10% 0 10%;
    text-align: center;
    width: 80%;
    margin: auto;
}

img {
    height: 18em;
    width: 18em;
    margin: 0.5em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0,0,0,0.20);
      
}

img:hover {
    opacity: 0.75;
}


/* dropdown nav */



a {
    text-decoration: none;
  }

  /* li a {
    color: rgb(196, 83, 83);
  }
  
  .dropdown {
    background: #d1b086;
    list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  li {
    color: #fff;
    background: #d1b086;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  
  li:hover {
      background: #f2f2f2;
      cursor: pointer;
  }
  
  ul li ul {
      background: orange;
      visibility: hidden;
    opacity: 0;
    min-width: 5rem;
      position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
      left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
  } */