{% extends 'base.html' %}

{% block content %}
    
    <h1>Products</h1>

    <div class="gallery">
    <img src="https://picsum.photos/200/300/?random">
    <img src="https://picsum.photos/200/300/?random">
    <img src="https://picsum.photos/200/300/?random">
    <img src="https://picsum.photos/200/300/?random">
    <img src="https://picsum.photos/200/300/?random">
    <img src="https://picsum.photos/200/300/?random">
    <img src="https://picsum.photos/200/300/?random">
    <img src="https://picsum.photos/200/300/?random">
    <img src="https://picsum.photos/200/300/?random">
    <img src="https://picsum.photos/200/300/?random">
    <img src="https://picsum.photos/200/300/?random">
    <img src="https://picsum.photos/200/300/?random">
    </div>
    
{% endblock %}